.git
.gitignore
.github
terraform
*.tfstate
*.tfvars
.terraform
.terraform.lock.hcl
Dockerfile
docker-compose.yml
.vscode
.idea
start.sh
router.php
conn.php
admin/conn.php
*.log
*.md
.DS_Store
Thumbs.db
*.pem
*.key
.env*
